@import url('https://fonts.googleapis.com/css2? family= Homard & family= Zen+Maru+Gothic & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/****************************NAVBAR*****************************/
nav {
  overflow: hidden;
  background-color: rgb(0, 0, 255);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  display: inline-block;
  float: right;
  font-size: 1.2rem;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
header li a:hover {
  background-color: #0098f7;
}
#logo {
  font-weight: bold;
  float: left;
}

/***************************image principale*****************************/
#imageprincipale {
  padding-top: 60px;
  background: url(snefphotos/background.jpg) no-repeat fixed center/cover;
  background-size: cover;
  height: 799px;
}
h1 {
  text-align: center;
  color: rgb(0, 0, 255);
  font-size: 6rem;
  margin-top: 80px;
  text-shadow: 0 1px #00fcef, -1px 0 #0098f7, -1px 2px #00fcef, -2px 1px #0098f7,
    -2px 3px #00fcef, -3px 2px #0098f7, -3px 4px #00fcef, -4px 3px #0098f7,
    -4px 5px #00fcef, -5px 4px #0098f7, -5px 6px #00fcef, -6px 5px #0098f7,
    -6px 7px #00fcef, -7px 6px #0098f7, -7px 8px #00fcef, -8px 7px #0098f7;
}
#premiertrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: rgb(0, 0, 255);
}
#imageprincipale h3 {
  text-align: center;
  color: rgb(0, 0, 255);
  font-size: 3rem;
  text-shadow: 0 1px #00fcef, -1px 0 #0098f7, -1px 2px #00fcef, -2px 1px #0098f7,
    -2px 3px #00fcef, -3px 2px #0098f7, -3px 4px #00fcef, -4px 3px #0098f7,
    -4px 5px #00fcef, -5px 4px #0098f7, -5px 6px #00fcef, -6px 5px #0098f7,
    -6px 7px #00fcef, -7px 6px #0098f7, -7px 8px #00fcef, -8px 7px #0098f7;
}
/* ********************** PRESENTATION ************************* */
#presentation {
  background-color: #d1f2f89a;
  padding: 10px 0px 100px 0px;
}
#presentation img {
  height: 300px;
}
#texteintro {
  padding: 0px 20%;
}

#titreexplication {
  flex-wrap: nowrap;
  color: rgb(0, 0, 255);
  font-size: 1.5rem;
  padding: 0px 100px;
}

#titreprestation {
  text-align: center;
  color: rgb(0, 0, 255);
  font-size: 3rem;
  padding: 0px 100px;
}
#prestation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#pre .imageprincipale h4 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 10px;
  margin: 15px;
  font-weight: 300;
  color: #ffffff;
  background: #232323;
}
.imageprincipale img {
  border-radius: 10px;
  box-shadow: 7px 11px 19px 5px rgba(0, 0, 0, 0.77);
}
.imageprincipale img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}
#membre {
  background-color: #d1f2f89a;
}
#presentationmembre {
  flex-wrap: nowrap;
  color: rgb(0, 0, 255);
  font-size: 1.5rem;
  padding: 10px 100px;
}
#membre h4 {
  color: rgb(0, 0, 255);
  padding-left: 2.5vw;
  padding-top: 65px;
  font-size: 2.5rem;
}
#membre p {
  padding: 10px 2.5vw;
}
.imagepresentation {
  padding: 10px 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: 120px;
}
#imagepresentationn {
  padding: 10px 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: 120px;
}
#membre img {
  border-radius: 10px;
}

#imagepresentationc {
  padding: 10px 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

#imagepresentations {
  padding: 10px 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.imageprincipale h4 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 7px;
  margin: 15px;
  font-weight: 300;
  color: #ffffff;
  background: #232323;
}
.imageprincipale img {
  border-radius: 10px;
  box-shadow: 7px 11px 19px 5px rgba(0, 0, 0, 0.77);
}

/***************************footer********************************/
footer {
  background-color: rgb(0, 0, 255);
  color: #fffae1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input,
textarea,
button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2rem;
  font-family: Homard, sans-serif;
  border-radius: 8px;
}
textarea {
  height: 120px;
}
button {
  font-size: 1.5rem;
  background-color: #fffae1;
}
button:hover {
  background-color: #e55039;
  color: #fffae1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#deuxiemetrait {
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 60px auto;
}
#copyrighteticons {
  display: flex;
  margin: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #fffae1;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 3px;
  font-size: 1.3rem;
  color: #fffae1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
/* *****************************vente******************************** */
#CD {
  background-color: #d1f2f89a;
}

#CD h4 {
  color: rgb(0, 0, 255);
  padding-left: 2.5vw;
  padding-top: 65px;
  font-size: 2.5rem;
}

.imagepresentation {
  padding: 10px 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

#CD img {
  border-radius: 10px;
}
#CD {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#CD img:hover []
/* *************************services********************************* */
#services {
  height: 100%;
  text-transform: uppercase;
}

#services h2 {
  color: rgb(0, 0, 255);
  text-align: center;
}
